<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>Login & Create Account</p>
            <a href="/users/login" class="btn btn-primary btn-block">Login</a>
            <a href="/users/register" class="btn btn-secondary btn-block mb-2">Register</a>
        </div>
    </div>
</div>